*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
/* start header */
.header{
    height: 50px;
    position: sticky;
    top: 0;
}
.menu{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    gap: 20px;
}
.menu li a{
    color: rgb(225, 225, 225);
    font-size: 17px;
    font-weight: bold;
    background-color: blueviolet;
    padding: 10px 20px;
    transition: 0.5s;
}
.menu li a:hover{
    background-color: rgb(105, 14, 190);
}
/* end header */

/* start home */
.home{
    background-color: aquamarine;
    height: calc(100vh - 100px);
    padding-top: 50px;
    scroll-margin-top: 50px;
}
.home-infos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.home-title{
    margin-bottom: 50px;
}
.home-section{
    text-align: center;
}
.home-infos-img{
    width: 250px;
}
.home-infos-img img{
    width: 200px;
}
.home-desc{
    width: 400px;
    text-align: justify;
    background-color: #2b77e239;
    padding: 30px;
    border-top-left-radius:70px;
    border-bottom-right-radius: 70px;
}
/* end home */

/* start content */
.content{
    background-color: #8a2be2;
    height: calc(100vh - 150px);
    padding-top: 100px;
    scroll-margin-top: 50px;
}
/* end content */

/* start about */
.about{
    background-color: #2b77e2;
    height: 100vh;
}
/* end about */

/* start home imgs */
.home-imgs{
    text-align: center;
    margin-top:70px;
}
.home-imgs img{
    width: 140px;
    transition: 0.5s;
    box-shadow: -webkit-box-shadow: 2px 10px 41px 12px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 10px 41px 12px rgba(0,0,0,0.46);
    box-shadow: 2px 10px 41px 12px rgba(0,0,0,0.46);
}
.home-imgs img:hover{
    transform: scale(1.1);
    box-shadow: -webkit-box-shadow: 2px 10px 41px 12px rgba(0,0,0,0.46);
    -moz-box-shadow: 2px 10px 41px 12px rgba(0,0,0,0.46);
    box-shadow: 2px 10px 41px 12px rgba(0,0,0,0.46);
}
/* end home imgs */
