.header{
    background-image: url('../img/header/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.nav{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    gap: 20px;
}
.menu li{
    color: aliceblue;
}
.icon-bar{
    color: aliceblue;
    display: none;
}













/* queris */
@media(max-width: 580px){
    .menu{
        background-color: red;
        display: block;
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        bottom: 0;
    }
    .menu li{
        margin: 20px;
    }
    .icon-bar{
        display: block;
    }
}
