.main{
    background-color: red;
    height: 200px;
    transition: 0.5s;
    padding: 30px;
}
.form{
    display: flex;
    gap: 5px;
}
.form input{
    width: 50%;
}


@media screen and (max-width: 600px) {
    .form{
        display: block;
    }
        .form input{
            width: 100%;
        }
}
.box{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 0;
    z-index: 1;
}
.box1{
    width: 100px;
    z-index: 2;
    height: 100px;
    background-color: rgb(10, 140, 47);
    position: absolute;
    top: 30px;
    left: 30px;
}