body{
    padding: 0;
    margin: 0;
}
/* start sectin1 */
.section1{
    background-image: url('img_parallax.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    background-attachment: fixed;
}
.section1-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.section1-title > span{
    background-color: rgba(0, 0, 0, 0.83);
    padding: 15px 20px;
    color: aliceblue;
    font-size: 25px;
    letter-spacing: 10px;
}
/* end section 1 */


/* start section 2 */
.section2{
    padding: 80px 100px;
    text-align: center;
}
.section2-title{
    font-size: 25px;
    letter-spacing: 10px;
}
.section2 > p{
    text-align: justify;
    line-height: 25px;
}
/* end section 2 */

/* start section 3 */
.section3{
    background-image: url('img_parallax2.jpg');
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    background-attachment: fixed;
}
.section3-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.section3-title > span{
    padding: 15px 20px;
    color: aliceblue;
    font-size: 25px;
    letter-spacing: 10px;
}
/* end section 3 */


/* start section 4 */
.section4{
    padding: 80px 100px;
    background-color: rgba(0, 0, 0, 0.838);
    color: aliceblue;
    line-height: 30px;
}
/* end section 4 */


/* start section 5 */
.section5{
    background-image: url('img_parallax3.jpg');
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    background-attachment: fixed;
}
.section5-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.section5-title > span{
    padding: 15px 20px;
    color: aliceblue;
    font-size: 25px;
    letter-spacing: 10px;
}
/* end section 5 */

