.table{
    border: 1px solid black;
    width: 300px;
    background-color: black;
}
thead tr{
    background-color: yellow;
}
tbody tr{
    text-align: center;
    transition: 0.3s;
}
tbody tr:nth-child(even){
    background-color: rgb(225, 225, 225);
}
tbody tr:nth-child(odd){
    background-color: rgb(194, 194, 194);
}
tbody tr:hover{
    background-color: red;
}

/* start list style */
.ul{
    background-color: red;
    padding: 10px;
}
.ul li{
    background-color: yellow;
    margin: 5px;
    list-style: none;
}
.ul li:nth-child(odd){
    background-color: blue;
}