*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.header{
    background-color: rgb(206, 213, 220);
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.nav{
    height: 40px;
    width: 50%;
}
.ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}
.logo{
    display: flex;
    width: 25%;
    height: 40px;
    justify-content: space-evenly;
}
.logo img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}