@font-face {
    font-family: 'vazir';
    src: url('font/Vazir.ttf');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'vazir';

}
.main1{
    background-color: rgb(113, 113, 113);
    padding: 10px 30px;
    font-weight: bold;
    color: aliceblue;
}

.main2{
    background-color: rgb(113, 113, 113);
    padding: 10px 30px;
    color: aliceblue;
}

.span{
    background-color: blue;
    color: aliceblue;
    width: 150px;
    display: inline-block;
}

