p{
    color: red;
    background-color: aquamarine;
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid black;
}
p:hover{
    background-color: black;
    color: aqua;
    cursor: pointer;
    border: 1px solid aqua;
}


p::after{
    content: 'test';
    font-size: 25px;
    color: black;
}
p::before{
    content: 'name';
}
p::first-letter{
    font-size: 30px;
    color: blue;
}
